
.App{
    background: rgb(93,93,98);
    background: linear-gradient(90deg, rgba(93,93,98,1) 22%, rgba(109,112,113,1) 86%);
    min-height: 125vh;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
    /*background-size: cover;*/
}