.brick-container{
    width: 200px;
    height: 200px;
}
.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-project{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px none black;
    border-radius:22px;

}

.text-container{
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    font-weight: 700;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: Calibri, sans-serif;
    align-items: center;
    justify-content: center;
    color:white
}

.button-video{
    font-size: small;
    border:3px none black;
    border-radius:4px;
    background-color: black;
    color: white;
    margin: 5px;
}

.button-code{
    font-size: small;
    border:3px node black;
    border-radius:4px;
    background-color: black;
    color: white;
    margin: 5px;
}
.buttons-container{
    display: flex;
    width: 100%;
}

/*.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273);
    transition: all 0.7s linear;
}
.card{
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}*/